@charset "utf-8";

/*mainSlider*/
.mainSlider{
	background: url(../images/main/mainSlide.png) no-repeat center center;
	height: 1080px;
	text-align: center;
	color: #fff;
	font-size: 30px;
	position: relative;
}
.mainTxt{
	width:750px;
	position: absolute;
	top:50%;
	margin-top: -167px;
	left: 50%;
	margin-left: -375px;
	font-weight: 300;
}
.mainSlider h3{
	font-weight: 700;
	color:#ffa200;
	font-size: 60px;
	margin: 40px 0;
}
.mainSlider p{}
.mainSlider .buan{
	display: block;
	margin-bottom: 30px;
}

/*mainCon01*/
.mainCon01{
	background: #fef1dd;
	text-align: center;
	color:#666;
	font-weight: 400;
}
.mainCon01 h2{
	font-weight: 700;
	font-size: 50px;
	padding-top: 100px;
	margin-bottom: 20px;
}
.mainCon01 h2 span{
	color: #ee7302;
	font-size: 50px;
}
.mainCon01>p{
	margin-bottom: 100px;
	font-size: 24px;
}

.product{
	position: relative;
}

.con01Img{
	margin: 0 auto;
}
.con01Img img{
	display: inline-block;
}

.con01Txt{
	text-align: left;
	position: absolute;
	top: 50%;
	margin-top: -192px;
	left: 50%;
	margin-left: -110px;
	font-size: 25px;
	color:#000;
}
.txtTop{}
.txtBottom{
	margin-top: 50px;
	font-size: 18px;
	color: #000;
}
.txtBottom span{
	margin-right: 70px;
}
.con01Txt h4{
	margin-top: 20px;
}
.con01Txt .con01Txt1{
	display: block;
	margin:20px 0;
	color:#ef7e23;
}
.con01Txt .con01Txt2{
	color:#666;
	font-size: 18px;
	margin-left: 30px;
}
.con01Txt .con01Txt3{
	display: block;
	font-size: 18px;
}
.con01Txt .con01Txt4{
	display: inline-block;
	margin-top: 20px;
}
.con01Txt .con01Txt5{
	display: inline-block;
	color:#6666;
	margin-top: 10px;
}



/*mainCon02*/
.mainCon02{
	background: #fef1dd;
	text-align: center;
	color:#666;
	font-weight: 400;
}
.mainCon02 h2{
	font-size: 50px;
	padding-top: 100px;
	margin-bottom: 40px;
	font-weight: 700;
}
.mainCon02 h2 span{
	color: #ee7302;
	font-size: 50px;
}
.mainCon02 p{
	display: block;
	margin-bottom: 60px;
	font-size: 30px;
}

.con02Img{}
.con02Img img{
	display: block;
}

/*mainCon03*/
.mainCon03{
	height: 550px;
	background: url(../images/main/con03Img.png) no-repeat center center;
	background-size:cover;
    background-attachment:fixed;
	text-align: center;
	font-weight: 300;
}
.mainCon03 h2{
	padding-top: 50px;
	font-size: 50px;
	color:#fff;
	font-weight: 700;
}
.mainCon03 h2 span{
	color: #ee7302;
	font-size: 50px;
}
.con03Txt{
	color: #fff;
	margin: 80px 300px 0 300px;
	text-align: left;
}
.con03Txt h4{
	font-weight: 400;
	font-size: 24px;
}
.con03Txt p{}
.con03Txt h4::after{
	content: "";
	display: block;
	width:330px;
	height: 1px;
	background: #fff;
	margin: 40px 0;
}
.con03Txt p{}
.con03Txt01{
	float: left;
}
.con03Txt01 h4{}
.con03Txt01 p{}

.con03Txt02{
	float:right;
}
.con03Txt02 h4{}
.con03Txt02 p{}

.plusBtn{
    width:40px;
    height:40px;
    background:url(../images/main/btn_more.png) no-repeat;
    background-size:100%;
    text-indent:-9999px;
	margin: 0 auto;
	margin-top: 30px;
}
.plusBtn a{
    display:block;
    height:100%;
}

/*mainCon04*/
.mainCon04{
	background: #fef1dd;
	text-align: center;
	position: relative;
	height: 1080px;
	font-weight: 300;
}
.mainCon04 h2{
	font-size: 50px;
	padding-top: 80px;
	margin-bottom: 150px;
	color:#666;
	font-weight: 700;
}
.mainCon04 h2 span{
	color: #ee7302;
	font-size: 50px;
}

.con04Img{}
.con04Img img{}

.con04Txt>div{
	position: absolute;
	text-align: left;
}
.con04Txt h4{
	color:#ee7302;
	font-size: 30px;
	margin-bottom:20px;
	font-weight: 400;
}
.con04Txt p{
	font-size: 18px;
	color:#666;
}

.con04Txt1{
	top:240px;
	left: 390px;
}
.con04Txt2{
	top:225px;
	right:420px;
}
.con04Txt3{
	left: 395px;
	bottom: 285px;
}
.con04Txt4{
	left:880px;
	bottom:170px;
}
.con04Txt5{
	right:330px;
	bottom: 280px;
}










